$title:#1b95e7;
@import './lib/css/index';

#root {
    @extend .auto;
    .person-info{
        margin: 0 auto;
        max-width: 1280px;
        @extend .color-smokeWhite;
        background-image:  -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.3) , rgba(255, 255, 255, 0.4),rgba(0, 0, 0, 0.3));
        // box-shadow: 20px 20px 0px rgba(255, 255, 255, 0.4);
        // background: -webkit-linear-gradient(left top, red , blue);
        .title{
            color:$title;
            @extend .bold500;
            @extend .h24;
            // border-bottom: 1px solid $title;
        }
    }
    .App-intro{
        .header{
             border-bottom: 2px solid $title;
             .text{
                 @extend .inline-block;
                 @extend .color-white;
                 @extend .p2;
                 background-color: $title;
                
             }
        }
        .row{
            @extend .f-left;
            width: 100%;
            line-height: 24px;
        }
        .colom-1{
            width: 100%;
            @extend .f-left;
        }
        .colom-2{
            width:50%;
            @extend .f-left;
        }

    }
}
